<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		<h1>Confirmation commande Hop la Pizza</h1>
		Votre mail est
		{{order.email}}
		<ul>
			{% for dish in dishes %}
				<li>{{dish.name}}
					{{ dish.quantity}}
					=
					{{ dish.quantity * dish.price }}€</li>
			{% endfor %}
		</ul>
	</body>
</html>
