{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/admin_dish.css">
{% endblock %}
{% block content %}
	<main class="container">
		<h1 class="mt-5 pb-2">Ajouter un plat</h1>
		{% include 'Admin/Dish/_form.html.twig' %}
		<div class="mt-2">
			<a class="btn btn-outline-secondary" href="/adminDish/index">Retour</a>
		</div>
	</main>
{% endblock %}
